
#formulario-medida {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    gap: 10px;
    
}

.medida-item label {
    color: var(--cor-texto);
    font-weight: bold;
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.medida-item input {
    padding: 6px 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--cor-fundo-claro);
    color: var(--cor-texto);

}

.medida-item input:focus {
    outline: 2px solid var(--cor-primaria);
}

.linha-botao {
    display: flex;
    width: 100%;
}

.btn-submit {
    flex: 1;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 0;
}












/* Remove setas em navegadores WebKit (Chrome, Safari, Edge) */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}