.container {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--cor-fundo-claro);
}

.container-info {
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {
    margin: 15px;
    color: var(--cor-primaria);
    text-align: center;
}

.container-medidas, 
.container-evolucao {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
}

.medida-evo {
    text-align: center;
    background-color: var(--cor-fundo-medio);
    padding: 10px 25px;
    border-radius: 5px;
    color: var(--cor-texto);
}

select[id^="select-data-"] {
    background-color: var(--cor-fundo-medio);
    color: var(--cor-texto); 
    border: none;
    padding: 0 5px;
}

select[id^="select-data-"] option {
    background-color: var(--cor-fundo-medio);
    color: var(--cor-texto); /* Para ajustar a cor do texto */
}
