.medida-item {
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-fundo-medio);
    padding: 10px 25px;
    border-radius: 5px;
    color: var(--cor-texto);
}

.container-medidas span {
    padding-left: 90px;
}

.medida-item-evolucao {
    text-align: center;
    background-color: var(--cor-fundo-medio);
    padding: 10px 25px;
    border-radius: 5px;
    color: var(--cor-texto);
}

/* CSS para a pagina AdicionarPage.jsx */
#formulario-medida {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    gap: 10px;
    
}

.medida-item-label-input {
    color: var(--cor-texto);
    font-weight: bold;
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.medida-item input {
    padding: 6px 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--cor-fundo-claro);
    color: var(--cor-texto);

}

.medida-item input:focus {
    outline: 2px solid var(--cor-primaria);
}

.linha-botao {
    display: flex;
    width: 100%;
}

.btn-submit {
    flex: 1;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 0;
}

/* Remove setas em navegadores WebKit (Chrome, Safari, Edge) */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Fim da pagina AdicionarPage.jsx */

/* Select da Data que esta no componente CompararPage.jsx */
select {
    background-color: var(--cor-fundo-medio);
    border-color: var(--cor-fundo);
    color: var(--cor-texto); 
    border: none;
    padding: 0 5px;
}

select option {
    background-color: var(--cor-fundo-medio);
    color: var(--cor-texto); /* Para ajustar a cor do texto */
}
/* Fim do select da Data que esta no componente CompararPage.jsx */