:root {
  --cor-fundo: #121212; /* Cor de fundo principal */
  --cor-fundo-claro: #1e1e1e; /* Cor do cabeçalho */
  --cor-fundo-medio: #2c2c2c; /* Cor media */
  --cor-texto: #ffffff; /* Cor principal do texto */
  --cor-primaria: #007bff; /* Azul principal para botões e destaques */
  --cor-primaria-hover: #0056b3; /* Azul mais escuro para hover */
  --cor-container: antiquewhite; /* Fundo do container */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}
